@import './people.css';
@import './notes.css';
@import './alibis.css';

.filters {
    display: flex;
}

.content{
    display: flex;
    flex-direction: row;
}

.content--left{
    flex-basis: 70%;
}

.peopleSelectionButtons{
    display: flex;
    justify-content: space-evenly;
}
