.noteListContainer{
    flex-basis: 30%;
}

#noteForm {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#noteForm--date, #noteForm--criminal {
    align-self: flex-start;
    margin: 5px;
}

#saveNote {
    align-self: flex-end;
    margin: 5px;
}

.note{
    margin: 10px;
    border: 1px dotted black;

}

.noteFormContainer{
    margin: 50px;
    border: 2px solid blue;
}