.noteListContainer{
    flex-basis: 30%;
}

#noteForm {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#noteForm--date, #noteForm--criminal {
    align-self: flex-start;
    margin: 5px;
}

#saveNote {
    align-self: flex-end;
    margin: 5px;
}

.note{
    margin: 10px;
    border: 1px dotted black;
    background-color: rgb(218, 196, 199);
    border-radius: 2%;

}

.noteFormContainer{
    margin: 50px;
    border: 1px dotted black;
    border-radius: 2%;
    background-color: rgb(231, 231, 200);
}